<% include ./partials/header %>

<form role="form" action="/homepage/add" method="POST">
  <div class="form-group centerMe" >
      <div class="form-group">
        <div class="input-group">
          <textarea name="main" id="main" class="form-control" rows="5" placeholder="Write your post..." required ></textarea>
          <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
      <div class="text-center">
          <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-lg btn-primary text-center ">
      </div>
    </div>
</form>

<div class="container">
  <div class="box">
      <% for (var i = posts.length-1; i>=0; i--){ %>
        <div class="post">
          <div class="userDetails">
            <div class="image">
              <% for (var y = users.length-1; y>=0; y--){ %>
                <% if(posts[i].username == users[y].username){ %>
                  <img id="userImg" src="/uploads/<%= users[y].image %>"/>
                <% } %>
              <% } %>
            </div>
            <div class="user">
              <div class="name"><h4><%= posts[i].username %></h4></div>
              <div class="timestamp"><%= moment(posts[i].time).fromNow() %></div>
            </div>
          </div>

          <div class="break"></div>

          <p class="text">
            <%= posts[i].main %>
          </p>
        </div>
      <% } %>

  </div>

</div>


<% include ./partials/footer %>
