
<% include ./partials/header %>

<% if(!currentUser) { %>

<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row just">
                    <p class="col-lg-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec libero non purus fringilla egestas varius nec felis. Pellentesque eu nisl mauris. Nam ornare quis velit sit amet commodo. Etiam congue porttitor feugiat. Vivamus id congue massa. Duis
                        lobortis mauris non magna viverra venenatis. Donec congue finibus hendrerit. Etiam lacinia finibus purus quis dignissim. Aenean bibendum sed ligula non fermentum. Etiam et nisi nisi. Aenean sed ultrices tellus.
                        </br>
                        </br>
                        Sed porta tempor mauris et placerat. Nunc leo leo, rhoncus in vulputate sit amet, interdum ut enim. Integer ornare eros vel urna dignissim tincidunt. Donec eu aliquet lacus. Nam faucibus est in dui accumsan mollis. Vestibulum ante ipsum primis in faucibus
                        orci luctus et ultrices posuere cubilia Curae; Donec eget ipsum ullamcorper odio feugiat efficitur. Proin imperdiet elementum felis, ac sollicitudin lectus dignissim eu. Suspendisse lobortis sem non quam pretium, sed pulvinar urna
                        consectetur. Nullam vestibulum elementum turpis ac dapibus. Nunc elementum euismod augue, molestie imperdiet mauris aliquam quis. Fusce dignissim lobortis enim a viverra. Praesent ullamcorper nibh vitae tellus pretium, vitae accumsan
                        purus tincidunt.
                    </p>
                </div>
                <br />
                <div class="row right">
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Phasellus eleifend dolor urna, vel tempus mi ornare id. Phasellus tempus varius felis, bibendum hendrerit ex sollicitudin in. Nullam sodales feugiat
                        massa, nec convallis odio porta sit amet. Curabitur vitae erat ac lacus laoreet sollicitudin eu placerat ex. Nulla facilisis, risus sed varius efficitur, nisl justo pellentesque nulla, et tempor lacus mauris vitae lacus. Donec
                        mollis vehicula massa sit amet bibendum. Mauris purus lectus, facilisis porttitor aliquet finibus, ultricies sit amet mi. Proin et dui ultrices, imperdiet velit id, mollis nulla. Morbi posuere ex quam, vel eleifend eros commodo
                        quis. Ut non augue dignissim, pretium dui eu, malesuada risus. Cras quam orci, semper vitae risus volutpat, blandit facilisis mauris.
                    </p>
                </div>
                <div class="row just">
                    <p class="col-lg-12">
                        <br /> Proin sagittis sem sit amet nisl accumsan, vitae tristique tellus condimentum. Fusce molestie felis nisl, fringilla accumsan sapien facilisis vitae. Nam ut nisl eu velit varius fringilla et eget purus. Mauris suscipit risus non
                        ligula iaculis sodales. Fusce laoreet interdum erat ut ullamcorper. Quisque mattis congue sem, nec scelerisque magna. Nulla convallis commodo ornare. Nullam facilisis laoreet odio quis porta. Nam sit amet justo dui. In mi nulla,
                        hendrerit semper varius aliquam, pulvinar vel nisl. Donec erat elit, aliquam faucibus venenatis ac, maximus ut arcu. Donec sit amet quam vestibulum, laoreet mauris eget, varius arcu. Nulla porta diam quis ex volutpat, et iaculis
                        ipsum dictum. Nullam nunc libero, iaculis eu quam hendrerit, facilisis laoreet est.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


   <% } %>


<% include ./partials/footer %>
